@{
    ViewBag.Title = "Home Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}

<h2>PeerCentral</h2>

<p>An online community where you can:</p>
<ul>
    <li>Brag about your accomplishments at the office;</li>
    <li>Find out what your peers are up to;</li>
    <li>Support your colleagues by voting them up;</li>
    <li>Encourage them by offering constructive feedback;</li>
</ul>
