@model PeerCentral.Domain.IRuntimeSession

@if (Model.CurrentUser == null)
{
    <ul>
        <li><a href="@Url.Content("~/login")" id="loginLink">Login</a></li>
    </ul>
}
else
{
    <ul>
        <li>Hello, @Model.CurrentUser.Name</li>
        <li><a href="@Url.Content("~/logout")">Log out</a></li>
    </ul>
}
