@model PeerCentral.Domain.IRuntimeSession

@if (Model.IsAuthenticated)
{
    <li><a>Hello, @Model.GetCurrentUser().Name</a></li>
    <li><a href="@Url.Content("~/logout")">Log out</a></li>
}
else
{
    <li><a href="@Url.Content("~/login")" id="loginLink">Login</a></li>
}
